@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

.DateHolder {
    font-family: 'Calligraffitti', cursive;
    margin: 5px;
    font-weight: 800;
    font-size: 3rem;
    color: #b2c4f3;
    text-shadow: 2px 2px #6a85de,
    4px 4px #6262a9
}
